@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Space Mono", monospace;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    background-color: #060522;
    overflow-x: hidden;
}

div.bg-image {
    position: absolute;
    width: 80%;
    left: 12.5%;
    top: 90px;
    height: 600px;
    background-image: url(
        "images/blob.png"
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(50px);
    -webkit-filter: blur(50px);
    z-index: -1;
    opacity: 0.6;
    animation: bgAnimation 20s linear infinite;
}

@keyframes bgAnimation {
    from {
        transform: rotate(0deg);
        scale: 1;
    }

    25% {
        scale: 1.2;
    }

    50% {
        scale: 1;
    }

    75% {
        scale: 1.2;
    }

    to {
        transform: rotate(360deg);
        scale: 1;
    }
}

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(10px);
    z-index: 10000;
    border-bottom: 2px solid #fff;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
    z-index: 10000;
}

.intro {
    margin-top: 150px;
    margin-left: 70px;
    width: 70%;
    height: 300px;
    border: 2px solid #fff;
    border-radius: 50px;
    background-color: #060522;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: linear 0.3s;
    padding-right: 10px;
}

.intro:hover {
    background-color: rgba(255, 255, 255, 0);
}

.intro img {
    height: 270px;
    margin-left: 15px;
    border-radius: 45px;
}

.intro div {
    margin-left: 40px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 5px;
}

.intro div h1 {
    width: max-content;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
}

.intro div h2 {
    color: #c6cfdc;
    font-size: 1.5em;
}

.intro div p {
    color: #8592a8;
    font-size: 1em;
    transition: linear 0.3;
}

.intro:hover div p {
    color: #000;
}

.services {
    width: 100%;
    height: 1000px;
    margin-top: 100px;
    background-image: url(
        "images/square.png"
    );
    display: flex;
    flex-direction: column;
}

.services > h1 {
    color: #fff;
    margin-left: 100px;
    margin-top: 100px;
    font-size: 2em;
    z-index: 1;
}

.services .container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.services .container div {
    height: 400px;
    background-color: #060522;
    border: 2px solid #fff;
    border-radius: 15px;
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.services .container div h1 {
    margin-top: 10px;
    color: #fff;
    font-size: 2.5em;
}

.services .container div h2 {
    color: #c6cfdc;
    font-size: 1em;
}

.services .container div ul {
    color: #c6cfdc;
    font-size: 1.25em;
    list-style-type: none;
}

.services .container div ul li i{
    color: #c6cfdc;
    margin-right: 10px;
}

.services .container div button {
    margin-top: 40px;
    width: 50px;
    height: 20px;
}

@media screen and (max-width: 1040px) {
    .intro {
        margin-left: 5%;
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    .intro {
        margin-top: 100px;
        margin-left: 50%;
        transform: translate(-50%, 0);
        flex-direction: column;
        justify-content: center;
        width: 300px;
        height: fit-content;
        padding: 10px;
    }

    .intro:hover {
        background-color: #060522;
    }

    .intro img {
        margin-left: 0;
    }

    .intro div {
        margin-left: 10px;
    }

    .intro div h1 {
        font-size: 1.5em;
    }

    .intro div h2 {
        font-size: 1.25em;
    }

    .intro div p {
        font-size: 1em;
        margin-bottom: 5px;
    }

    .intro:hover p {
        color: #8592a8;
    }
}